html {
	background: url(bg-img.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100px;
	background-color: #464646;
}

body {
	height: 100%;
	width: 100%;


}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	font-weight: 600;
	line-height: 1.3;
}

.list {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(238, 236, 245, .5);
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	font-family: "Ubuntu", sans-serif;
	z-index: 3;
}

.btn {
	height: 9.09%;
	width: 100%;
	text-align: center;

}

.btn a {
	position: relative;
	display: block;
	padding: 0 10%;
	height: 100%;
	border-bottom: 1px solid #dfdbec;
	color: #3a393f;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: bold;

}


a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}


.btn a span {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

}

.btn a:hover {
	background-color: #FFF;
	cursor: pointer;
}


.cd-close-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #d26c64;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.cd-close-menu::before,
.cd-close-menu::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 18px;
	left: 10px;
	width: 20px;
	height: 3px;
	background-color: #FFF;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.cd-close-menu::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cd-close-menu::after {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.cd-close-menu:hover::before {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.cd-close-menu:hover::after {
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}
